# Ignore vscode config
*.vscode
*.vs

# Ignore .img 
*.img

*.o
*.exe

bochsout.txt

bootloader
!bootloader.asm

kernel
!kernel.asm
!kernel.c

loadFile
!loadFile.c

shell
!shell.c

textmodule
!textmodule.h
!textmodule.c

fileIOmodule
!fileIOmodule.h
!fileIOmodule.c

folderIOmodule
!folderIOmodule.h
!folderIOmodule.c

mathmodule
!mathmodule.h
!mathmodule.c

mkdir
!mkdir.c

rm
!rm.c

cat
!cat.c
